@import "tailwindcss";

@theme {
  --color-mono-50: #ffffff;
  --color-mono-100: #f5f5f5;
  --color-mono-200: #e5e5e5;
  --color-mono-300: #d4d4d4;
  --color-mono-400: #a3a3a3;
  --color-mono-500: #737373;
  --color-mono-600: #525252;
  --color-mono-700: #404040;
  --color-mono-800: #262626;
  --color-mono-900: #121212;
  --color-mono-950: #000000;

  --color-background: var(--color-mono-500);
  --color-foreground: var(--color-mono-50);
  --color-border: var(--color-mono-800);
  --color-muted: var(--color-mono-200);

  --radius-button: 4px;
  --radius-card: 25px;
}

:root {
  --bg: var(--color-mono-500);
  --text: var(--color-mono-50);
  --border: var(--color-mono-800);
  --muted: var(--color-mono-400);

  background-color: var(--bg);
  color: var(--text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}
